<th:block th:fragment="nav-side">
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a th:href="@{/}" class="site_title"><span>GameTruck</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
                <div class="profile_info">
                    <span>Welcome,</span>
                    <h2>admin</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <ul class="nav side-menu">
                        <li><a><i class="fa fa-home"></i> 홈 <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a th:href="@{/admin}">대시보드</a></li>
                            </ul>
                        </li>
                        <li><a><i class="fa fa-edit"></i> 상품 <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a th:href="@{/admin/form}">등록</a></li>
                                <li><a th:href="@{/admin/form}">관리</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /sidebar menu -->
        </div>
    </div>
</th:block>