<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-base}">
<head>
    <!-- bootstrap-wysiwyg -->
    <link href="/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="/vendors/starrr/dist/starrr.css" rel="stylesheet">
</head>
<div layout:fragment="content">
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>상품 등록하기</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="cat-no">카테고리<span class="required">*</span>
                                    </label>
                                    <div class="col-md-2 col-sm-2">
                                        <select type="text" id="cat-no" name="cat-no" required="required" class="form-control ">
                                            <option value="101">액션</option>
                                            <option value="101">액션</option>
                                            <option value="101">액션</option>
                                            <option value="101">액션</option>
                                        </select>
                                    </div>
                                    <label class="col-form-label col-md-1 col-sm-1 label-align" for="platform-no">플랫폼<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3">
                                        <select type="text" id="platform-no" name="platform-no" required="required" class="form-control">
                                            <option value="10">플레이스테이션</option>
                                            <option value="10">플레이스테이션</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">상품명<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input type="text" id="name" name="name" required="required" class="form-control required">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="price">가격<span class="required">*</span></label>
                                    <div class="col-md-2 col-sm-2">
                                        <input id="price" class="form-control required" type="number" name="price" min="0" step="100" required>
                                    </div>
                                    <p style="font-size: 20px; padding-top: 7px;">원</p>
                                    <label for="discount" class="col-form-label col-md-1 col-sm-1 label-align">할인율</label>
                                    <div class="col-md-2 col-sm-2" style="display: flex; gap: 2%;">
                                        <input id="discount" class="form-control" type="text" name="discount" value="0">
                                        <p style="font-size: 25px;">%</p>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label for="stock" class="col-form-label col-md-3 col-sm-3 label-align">재고</label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input id="stock" class="form-control" name="stock" type="range" step="10" value="1" min="0" max="300"  oninput="document.getElementById('value').innerHTML=this.value;">
                                        <p><span id="value">0</span> 개</p>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label for="cover" class="col-form-label col-md-3 col-sm-3 label-align">커버이미지</label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input id="cover" type="file" name="cover">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="description">상품설명<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <textarea name="description" id="description" cols="70" rows="10" style="width: auto;" required></textarea>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="item form-group">
                                    <div class="col-md-6 col-sm-6 offset-md-3">
                                        <button class="btn btn-primary" type="button">Cancel</button>
                                        <button class="btn btn-primary" type="reset">Reset</button>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <!-- bootstrap-wysiwyg -->
    <script src="/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="/vendors/starrr/dist/starrr.js"></script>
</th:block>
</html>