<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>GameTruck-admin</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/images/icons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/images/icons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/icons/favicon-16x16.png}">
    <link rel="manifest" th:href="@{/assets/images/icons/site.html}">
    <link rel="mask-icon" th:href="@{/assets/images/icons/safari-pinned-tab.svg}" color="#666666">
    <link rel="shortcut icon" th:href="@{/assets/images/icons/favicon.ico}">
    <meta name="apple-mobile-web-app-title" content="GameTruck">
    <meta name="application-name" content="GameTruck">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap -->
    <link th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Font Awesome -->
    <link th:href="@{/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <!-- NProgress -->
    <link th:href="@{/vendors/nprogress/nprogress.css}" rel="stylesheet">
    <!-- iCheck -->
    <link th:href="@{/vendors/iCheck/skins/flat/green.css}" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link th:href="@{/vendors/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link th:href="@{/vendors/build/css/custom.min.css}" rel="stylesheet">
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div th:replace="~{/common/nav-side :: nav-side}"></div>
            <div th:replace="~{/common/nav-top :: nav-top}"></div>
            <th:block layout:fragment="content"></th:block>
            <footer th:replace="~{common/admin-footer :: footer}"></footer>
        </div>
    </div>
    <!-- jQuery -->
    <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
    <!-- NProgress -->
    <script th:src="@{/vendors/nprogress/nprogress.js}"></script>
    <!-- bootstrap-daterangepicker -->
    <script th:src="@{/vendors/moment/min/moment.min.js}"></script>
    <script th:src="@{/vendors/bootstrap-daterangepicker/daterangepicker.js}"></script>
    <!-- bootstrap-progressbar -->
    <script th:src="@{/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
    <!-- iCheck -->
    <script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
    <!-- Custom Theme Scripts -->
    <script th:src="@{/vendors/build/js/custom.min.js}"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>